<%= form_for @slot do |f| %>
  <div class="row">
    <div id="slot-form" class="col-lg-10 col-sm-12 center-block">
      <%= f.hidden_field :starttime, id: :slot_starttime, value: Time.now %>
      <%= f.hidden_field :user_id, id: :slot_user_id, value: current_user.id %>
      <%= f.hidden_field :activity_id, id: :slot_activity_id %>
    </div>
  </div>

<div class="row">
  <div id="set-activity" class="col-lg-10 col-sm-12 center-block">
    <%= f.submit "SET ACTIVITY", id: "set-activity-button", class: "btn wide-button btn-lg btn-primary" %>
  </div>
</div>
<% end %>